{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}
{% block othercss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-10">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
        </div>
    	<div class="col-2">
            <a href="/media/{{user.profile.avatar}}" class="pull-right">
                <img class="rounded-circle img-fluid img-avatar" src="/media/{{user.profile.avatar}}">
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <!--left col-->
  		<div class="col-3">
            <div class="list-group">
                <a href="/accounts/profile/" class="list-group-item list-group-item-action">
                    Mon compte
                </a>
                <a href="/accounts/profile/meeting" class="list-group-item list-group-item-action">Conférences</a>
                <a href="/accounts/profile/offer" class="list-group-item list-group-item-action">Offres</a>
                <a href="/accounts/update/" class="list-group-item list-group-item-action active">Editer profil</a>
            </div>

            <ul class="list-group mt-4">
                <li class="list-group-item bg-secondary text-white">Activités <i class="fas fa-address-card fa-1x"></i></li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Conférences passées <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Conférences prévues <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Autres <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div><!--/col-3-->

    	<div class="col-9">
            <form method="post">
            {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ user_form.first_name|as_crispy_field }}
                        {{ user_form.last_name|as_crispy_field }}
                        {{ user_form.email|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        <div class="">
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                            {{ profile_form.avatar|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ profile_form.birthdate|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ profile_form.address|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-success mt-3" type="submit">Enregistrer les changements</button>
            </form>
        </div><!--col-9 -->
    </div><!--/row-->
</div>
{% endblock %}

{% block otherjs %}
<script>
    $(document).ready(function() {
        var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.avatar').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#id_avatar").on('change', function(){
        readURL(this);
    });
});
</script>
{% endblock %}