<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inscription{% endblock %}
{% block othercss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        {% if user.is_authenticated %}
            <p>Vous êtes déjà connecté <strong>{{user.username}}</strong></p>
        {% else %}
        <!-- FORMULAIRE DE CONNEXION -->
        <div class="card card-signin">
          <div class="card-body">
            <h5 class="card-title text-center">Inscription</h5>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'inscrire</button>
                <p class="mt-2">Vous avez déjà un compte? <a href="{% url 'login' %}">Connecter vous</a></p>
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Connexion avec Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Connexion avec Facebook</button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}