<footer id="sticky-footer" class="pt-4 text-center bg-dark text-light">
    <div class="container">
        <div class="row">
            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-uppercase mb-4">Contactez-nous</h5>
                <p class="lead mb-0">37 Avenue Professeur Charles Foulon
                    <br>35700 Rennes</p>
            </div>
            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-uppercase mb-4">Suivez-nous</h5>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-github"></i>
                </a>
            </div>
            <!-- Footer About Text -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-uppercase text-center mb-4">A propos</h5>
                <ul class="list-unstyled text-center text-light">
                    <li><a href="#" class="text-light">Qui sommes nous?</a></li>
                    <li><a href="#" class="text-light">Partenaires</a></li>
                    <li><a href="#" class="text-light">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#" class="text-light">Lorem ipsum dolor sit amet</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright Section -->
    <section class="container-fluid copyright py-2 text-center text-white" style="background-color:#2c3e50">
        <small class="">Copyright &copy; PellelCall {% now "Y" %}</small>
    </section>
</footer>