<header>
    <!-- Menu de Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg static-top">
        <div class="container-fluid"> 
            <!-- Logo et nom de l'App -->
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/130x50?text=Logo" alt="">
                <span class="text-light d-none d-md-inline">PellelCall</span>
            </a>
            <!-- Affichage du menu-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home"></i> Accueil <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/meeting/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-users"></i> Conférence
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="/meeting/join/">Rejoindre une conférence</a>
                            <a class="dropdown-item" href="/meeting/create/">Créer une conférence</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/meeting/offers/"><i class="fas fa-tags"></i> Offres</a>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- Affichage d'un sous-menu en fonction du statut de l'utilisateur-->
                        {% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> Mon espace
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown02">
                                <a class="dropdown-item" href="/accounts/profile/">Profile</a>
                                <a class="dropdown-item" href="/accounts/logout/">Déconnexion</a>
                            </div>
                        {% else %}
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-lock"></i> Authentification
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown02">
                                <a class="dropdown-item" href="/accounts/login">Se connecter</a>
                                <a class="dropdown-item" href="/accounts/signup">S'inscrire</a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>