/* Sticky Footer Classes */

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;

}

#sticky-footer {
  flex-shrink: none;
  margin-top: auto;
}

/* Other Classes for Page Styling */
.display-5{
    font-size:3.0rem;
    font-weight:300;
    line-height:1.2
}

/*SECTION III */
.how-section h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section .subheading{
    color: #3931af;
    font-size: 20px;
}
